@model FamilyViewModel
@{
    ViewBag.Title = "Family";
}

<div class="background-image family-bg">
    <div class="layer">
    </div>
</div>
<section>
    @*<div class="puzzle">
        @foreach (var image in Model.Images)
        {
            <div class="piece">
                <span class="polaroid" title="@image.Caption">
                    <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                         data-src="@(image.Source)"
                         data-width="@image.Width"
                         data-crop="fill" data-quality="80" alt="@image.Caption" />
                </span>
            </div>
        }
    </div>*@

    @* Using the polaroid images - does not vertically align photos and the spacing is out a little so the images don't fit as snuggly *@
    <ul class="polaroid-container horizontal vertical-align">
        @foreach (var image in Model.Images)
        {
            <li>
                <span class="polaroid" title="@image.Caption">
                    <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                         data-src="@(image.Source)"
                         data-width="@image.Width"
                         data-crop="fill" data-quality="80" alt="@image.Caption" />
                </span>
            </li>
        }
    </ul>
</section>

@section PageScripts {
    @Scripts.Render("~/bundles/jquerycloudinary")
   
    <script type="text/javascript">
        $(function () {
            ed.cloudinary.dynamicImages();
        });
    </script>
}