@using EvansDiary.Web.Diary.TransferObjects
@{
    ViewBag.Title = "Family";
}

<div class="background-image family-bg">
    <div class="layer">
    </div>
</div>
<section>
    <div class="puzzle pure-g">
        <div class="piece pure-u-1-2 pure-u-sm-5-24">
            @{
                var image = new AssociatedImage("sand_dune_jumping_jk1all", "Leap of Faith");
            }
            <span class="polaroid" title="@image.Caption">
                <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                     data-src="@(image.Source)"
                     data-width="225"
                     data-crop="fill" data-quality="80" alt="@image.Caption" />
            </span>
        </div>

        <div class="piece pure-u-1-2 pure-u-sm-3-24">
            @{
                image = new AssociatedImage("beach_r7zxeb", "Drawings in the Sand");
            }
            <span class="polaroid" title="@image.Caption">
                <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                     data-src="@(image.Source)"
                     data-width="200"
                     data-crop="fill" data-quality="80" alt="@image.Caption" />
            </span>
        </div>

        <div class="piece pure-u-1-2 pure-u-sm-8-24">
            @{
                image = new AssociatedImage("camping_bokp4f", "Watching the Red Arrows");
            }
            <span class="polaroid" title="@image.Caption">
                <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                     data-src="@(image.Source)"
                     data-width="300"
                     data-crop="fill" data-quality="80" alt="@image.Caption" />
            </span>
        </div>

        <div class="piece pure-u-1-2 pure-u-sm-3-24">
            @{
                image = new AssociatedImage("torch_hxqf13", "2012 London Olympics");
            }
            <span class="polaroid" title="@image.Caption">
                <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                     data-src="@(image.Source)"
                     data-width="250"
                     data-crop="fill" data-quality="80" alt="@image.Caption" />
            </span>
        </div>

        <div class="piece pure-u-1-2 pure-u-sm-5-24">
            @{
                image = new AssociatedImage("sand_dune_jumping_jk1all", "Leap of Faith");
            }
            <span class="polaroid" title="@image.Caption">
                <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                     data-src="@(image.Source)"
                     data-width="225"
                     data-crop="fill" data-quality="80" alt="@image.Caption" />
            </span>
        </div>
    </div>
</section>

@section PageScripts {
    @Scripts.Render("~/bundles/jquerycloudinary")
   
    <script type="text/javascript">
        $(function () {
            ed.cloudinary.dynamicImages();

            
        });
    </script>
}