<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/athletics-pictogram-152-216355.png">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/Content/images/athletics-pictogram-144-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Content/images/athletics-pictogram-152-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/images/athletics-pictogram-144-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Content/images/athletics-pictogram-120-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/images/athletics-pictogram-114-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/images/athletics-pictogram-72-216355.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/athletics-pictogram-57-216355.png">
    <link rel="icon" href="/Content/images/athletics-pictogram-32-216355.png" sizes="32x32">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles")
    
    @Html.Partial("~/Views/Shared/_GoogleAnalytics.cshtml")
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
            <div class="d-flex flex-grow-1 navbar-header">
                <h1 class="logo">@Html.ActionLink("Evan's Diary", "Index", "Home", null, new { @class = "navbar-brand d-lg-inline-block" })</h1>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-left" id="myNavbar">
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link m-2 menu-item nav-active py-0" })</li>
                    <li class="nav-item">@Html.ActionLink("The Diary", "Index", "Diary", null, new { @class = "nav-link m-2 menu-item py-0" })</li>
                    <li class="nav-item">@Html.ActionLink("Athletics", "Index", "Athletics", null, new { @class = "nav-link m-2 menu-item py-0" })</li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Evan's Diary.</p>
        </footer>
    </div>

    @Scripts.Render("~/scripts/ed-init")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    @RenderSection("PageScripts", false)
</body>
</html>
