<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="shortcut icon" href="/Content/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/athletics-pictogram-152-216355.png">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/Content/images/athletics-pictogram-144-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/Content/images/athletics-pictogram-152-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/Content/images/athletics-pictogram-144-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/Content/images/athletics-pictogram-120-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/Content/images/athletics-pictogram-114-216355.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/Content/images/athletics-pictogram-72-216355.png">
    <link rel="apple-touch-icon-precomposed" href="/Content/images/athletics-pictogram-57-216355.png">
    <link rel="icon" href="/Content/images/athletics-pictogram-32-216355.png" sizes="32x32">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/styles")
    @Styles.Render("~/Content/themes")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/themes")

    @RenderSection("PageScripts", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="logo">Evan's Diary</h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("The Diary", "Index", "Diary")</li>
                </ul>
            </div>

        </div>
    </div>
    <!--/.NAVBAR END-->

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Evans Diary. All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
