@using EvansDiary.Web.Diary.TransferObjects
@model IList<EvansDiary.Interfaces.IAssociatedImage>

@{
    var imageOne = Model.ElementAtOrDefault(0) ?? new AssociatedImage(string.Empty, string.Empty);
    var imageTwo = Model.ElementAtOrDefault(1) ?? new AssociatedImage(string.Empty, string.Empty);
    var imageThree = Model.ElementAtOrDefault(2) ?? new AssociatedImage(string.Empty, string.Empty);
    var imageFour = Model.ElementAtOrDefault(3) ?? new AssociatedImage(string.Empty, string.Empty);
}

<div class="pure-g">
    <div class="pure-u-1-2 pure-u-sm-1-4">
        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
             data-src="@(imageOne.Source)"
             data-width="285" data-height="214"
             data-crop="fill" data-quality="80" alt="@imageOne.Caption" />
        <aside class="photo-box-caption">
            <span>@imageOne.Caption</span>
        </aside>
    </div>
    <div class="pure-u-1-2 pure-u-sm-1-4">
        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
             data-src="@(imageTwo.Source)"
             data-width="285" data-height="214"
             data-crop="fill" data-quality="80" alt="@imageTwo.Caption" />
        <aside class="photo-box-caption">
            <span>@imageTwo.Caption</span>
        </aside>
    </div>
    <div class="pure-u-1-2 pure-u-sm-1-4">
        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
             data-src="@(imageThree.Source)"
             data-width="285" data-height="214"
             data-crop="fill" data-quality="80" alt="@imageThree.Caption" />
        <aside class="photo-box-caption">
            <span>@imageThree.Caption</span>
        </aside>
    </div>
    <div class="pure-u-1-2 pure-u-sm-1-4">
        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
             data-src="@(imageFour.Source)"
             data-width="285" data-height="214"
             data-crop="fill" data-quality="80" alt="@imageFour.Caption" />
        <aside class="photo-box-caption">
            <span>@imageFour.Caption</span>
        </aside>
    </div>
</div>