@using EvansDiary.Web.Controllers
@using EvansDiary.Web.Diary.Extensions
@model YearViewModel

@{
    var week = 0;
}
<div class="diary-nav container">
    <div class="box">
        <ul class="polaroids pure-g">
            @foreach (var image in Model.Images)
            {
                <li class="pure-u-1-2 pure-u-sm-1-4">
                    @using (Html.ScopedActionLink<DiaryController>(x => x.Week(Model.Year, @week), new {title = @image.Caption}))
                    {
                        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                             data-src="@image.Source"
                             data-width="@image.Width"
                             data-crop="fill" data-quality="80" alt="@image.Caption" title="@image.Caption"/>
                    }
                </li>
                week++;
            }
        </ul>
    </div>
</div>
