@using EvansDiary.Interfaces

@model DiaryEntryViewModel

@{
    ViewBag.Title = string.Format("Year {0} - {1}", Model.Year, Model.Tag);
}

<section id="diary-page">
    <h2>@ViewBag.Title</h2>

    @if (!string.IsNullOrWhiteSpace(Model.Title))
    {
        <h3>@Model.Title</h3>
    }
    
    <div class="diary-entries container content">
        @{
            var imageOne = Model.GetImage(0);
            var imageTwo = Model.GetImage(1);
            var imageThree = Model.GetImage(2);
            var imageFour = Model.GetImage(3);
        }
        @if (Model.ImageBlocks > 1)
        {
            @Html.Partial("_Images", new List<IAssociatedImage> { imageOne, imageTwo, imageThree, imageFour })
        }
        
        @if (!string.IsNullOrWhiteSpace(Model.EntryOne))
        {
            if (!string.IsNullOrWhiteSpace(Model.EntryTwo))
            {
                <h2 class="content-subhead">Emma's Entry</h2>
            }
            @Html.Raw(Model.EntryOne)

            if (Model.EntryOneAdditionalImage != null)
            {
                <div class="pure-g">
                    <div class="pure-u-1 additional-image">
                        <img class="pure-img-responsive" src="@Model.EntryOneAdditionalImage.GetUrl()" alt="@Model.EntryOneAdditionalImage.Caption">
                    </div>
                </div>
            }
        }

        @if (Model.ImageBlocks > 1)
        {
            imageOne = Model.GetImage(4);
            imageTwo = Model.GetImage(5);
            imageThree = Model.GetImage(6);
            imageFour = Model.GetImage(7);
        }
        
        @Html.Partial("_Images", new List<IAssociatedImage> { imageOne, imageTwo, imageThree, imageFour })

        @if (!string.IsNullOrWhiteSpace(Model.EntryTwo))
        {
            <h2 class="content-subhead">Caroline's Entry</h2>
            @Html.Raw(Model.EntryTwo)
        }
    </div>
</section>