@using EvansDiary.Interfaces
@model TimelineViewModel

@{
    ViewBag.Title = string.Format("Year {0} - {1}", Model.Year, Model.Tag);
}

<section id="diary-page">
    <h1>@ViewBag.Title</h1>

    @if (!string.IsNullOrWhiteSpace(Model.Headline))
    {
        <h3>@Model.Headline</h3>
    }

    @foreach (var entry in Model.GetEntries())
    {
        var imageOne = entry.GetImage(0);
        var imageTwo = entry.GetImage(1);
        var imageThree = entry.GetImage(2);
        var imageFour = entry.GetImage(3);
        var imageBlocks = entry.Images.Count / 4;
        <div class="diary-entry container content">
            @if (!string.IsNullOrWhiteSpace(entry.Subheading))
            {
                <h2 class="content-subhead">@entry.Subheading</h2>
            }

            @if (!entry.SwitchImageBlockPosition && imageBlocks > 0)
            {
                @Html.Partial("_Images", new List<IAssociatedImage> { imageOne, imageTwo, imageThree, imageFour })
            }

            @Html.Raw(entry.Entry)

            @if (entry.SingleImage != null)
            {
                <div class="pure-g">
                    <div class="pure-u-1 additional-image">
                        <img class="pure-img-responsive" src="@entry.SingleImage.GetUrl(520, null)" alt="@entry.SingleImage.Caption">
                    </div>
                </div>
            }

            @if (imageBlocks > 1)
            {
                imageOne = entry.GetImage(4);
                imageTwo = entry.GetImage(5);
                imageThree = entry.GetImage(6);
                imageFour = entry.GetImage(7);
                @Html.Partial("_Images", new List<IAssociatedImage> { imageOne, imageTwo, imageThree, imageFour })
            }
            else if (entry.SwitchImageBlockPosition)
            {
                @Html.Partial("_Images", new List<IAssociatedImage> { imageOne, imageTwo, imageThree, imageFour })
            }
        </div>
    }
</section>

@section PageScripts {

    <script type="text/javascript">

        // document ready...
        $(function () {
            var embeddedImages = $('.diary-entry p a img');

            var embeddedImage;
            if (embeddedImages.length > 0) {
                // Get the image element from the array as a jQuery element
                embeddedImage = embeddedImages.eq(0);
                embeddedImage.addClass("pure-img-responsive");

                var parentParagraph = embeddedImage.closest("p");
                if (parentParagraph) {
                    parentParagraph.addClass("center");
                }
            }
        });

    </script>
}