@model YearViewModel

@{
    ViewBag.Title = string.Format("Year - {0} ({1})", Model.Age, Model.Year);
}

<section id="year">
    <h2>@ViewBag.Title</h2>
    <h3>@Model.Description</h3>

    <p>Use the links below to read about Evan's development up to his @Model.Birthday birthday</p>
    @{
        @Html.Partial(Model.Age == 1
            ? "_Weekly"
            : "_Monthly", Model)
    }
</section>

@section PageScripts {
    @Scripts.Render("~/bundles/jquerycloudinary")
    <script type="text/javascript">
        $(function () {
            // Lazy load the flipbook images from cloudinary
            $.cloudinary.config("cloud_name", "dqg9nkccw");
            $(".dynamic_image").webpify();
        });
    </script>
}