@model HospitalDiaryEntryViewModel

@{
    ViewBag.Title = Model.Title ?? string.Empty;
    var previous = Model.Day -1;
    var next = Model.Day +1;

    var lastDay = Model.Day == 11;
}

<section id="diary-page">
    <h2>Caroline's Hospital Diary</h2>

    <h3 class="sub-heading">@ViewBag.Title</h3>

    <div class="diary-entry container content">
        @if (!string.IsNullOrWhiteSpace(Model.Entry))
        {
            @Html.Raw(Model.Entry)
        }
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    @if (Model.Day == 1)
                    {
                        @Html.ActionLink("Previous", "Index", new { controller = "Hospital" }, new { @class = "page-link", tabindex = "-1" })
                    }
                    else
                    {
                        @Html.ActionLink("Previous", "Day", new { controller = "Hospital", day = previous }, new { @class = "page-link", tabindex = "-1" })
                    }
                </li>
                <li class="page-item @(lastDay ? "disabled" : string.Empty)">
                    @Html.ActionLink("Next", "Day", new { controller = "Hospital", day = next }, new { @class = "page-link", aria_disabled = lastDay ? "true" : "false" })
                </li>
            </ul>
        </nav>
    </div>
</section>