@using EvansDiary.Web.Diary.TransferObjects

@{
    ViewBag.Title = "Evan's Athletics";
}

<section id="timeline">
    <div id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <input type="checkbox" class="read-more-state" id="post-345" />
                <h2>First Sports Day</h2>
                <p class="read-more-wrap">
                    Evan's nursery 'Brightstart Nursery' held a mini olympics event where all the children were introduced to sporting events. Evan had already demonstrated with any activity that we would do together how competitive he was and how much he hated to lose.
                </p>
                @*<p class="center">
                    @{ var image = new AssociatedImage("dec_together_glpge0", "The Sprint Race"); }
                    <span class="polaroid" title="@image.Caption">
                        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                             data-src="@(image.Source)"
                             data-width="285" data-height="214"
                             data-crop="fill" data-quality="80" alt="@image.Caption" />
                    </span>
                </p>*@
                <ul class="polaroids pure-g">
                    <li class="pure-u-1-2">
                        @{
                            var image = new AssociatedImage("2008_sprint_race_dzze6k", "Sprint Race");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285" data-height="214"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2008_medals_nl626v", "His Medals");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285" data-height="214"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                </ul>
                <span class="cd-date">2008</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content">
                <input type="checkbox" class="read-more-state" id="post-1" />
                <h2>Showing interest in athletics</h2>
                <p class="read-more-wrap">
                    Evan showed a keen interest in running from an early age. At any sporting event held from Nursery through to the Primary School ages he would put himself forward to run in the running race.
                    He is naturally a very competitive boy and we found that his Primary School in particular removed the whole competitive attitude from Sports Day and it became a 'Let's Take Part' affair.
                    <span class="read-more-target">
                        I understand that not everyone is good at or enjoys sports but then I also know that not everyone is academic as well, but you never see a school saying to those children "Oh well, let's just take part".
                        It's the one thing about modern schooling that I disagree with. You have Sport for England wondering why we aren't creating athletes capable of competing at an Elite level, it all starts at the ground roots, at the schools!
                        Understandably, Evan was not really getting the exposure to athletics and encouragement at school, however, he was attending holiday clubs at a local Sports Centre affiliated to the Secondary School in our area.
                        It was here that he was spotted by a Track and Field coach because he seemed to be very good at high jump when they did this activity.
                        Evan did not make the connection when selecting activities to do at the club that athletics actually meant running. As soon as he had learned the meaning of that word, it was always the first activity chosen if it was available on the days that he attended.
                    </span>
                </p>
                <label for="post-1" class="cd-read-more"></label>
                <span class="cd-date">2010</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history is-hidden">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content is-hidden">
                <h2>Tribe Athletics</h2>
                <p>
                    We were given the details of an athletics club that runs at the University of Bath. This was pre 2012 Olympics, which has since inspired more young children to choose athletics so luckily the waiting list was not too long and we were able to get him in during 2011.
                    The <a href="http://www.teambath.com/tribe-schools/tribe-activities-7-14-years/">'Tribe'</a> athletics club was fun way to introduce an array of track and field activities to young children.
                </p>
                <span class="cd-date">2011</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history is-hidden">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content is-hidden">
                <input type="checkbox" class="read-more-state" id="post-3" />
                <h2>Team Bath 365 Athletics Club</h2>
                <p class="read-more-wrap">
                    Evan was starting to outgrow Tribe and wanted to have a go at competing. Competing is particularly hard when you are not affiliated to an athletics club, you have to compete as an independent and research all the events and activities yourself.
                    We decided to put Evan on the waiting list to join <a href="http://www.teambathac.org/join/junior/junior-9-11/">Team Bath 365</a>, at 8 years old he was still too young to join this club, which accepts children when they reach 9 as they would be competing in the youngest age category U11's.
                    <span class="read-more-target">
                        In the summer before his 9th birthday, we decided to take Evan along to a few open athletics meets to compete as an Independent just to get a feel for what it's like. You can get similar issues in athletics to those that actors get when they get 'Stage Fright' performing and the earlier you tackle this the better.
                    </span>
                </p>
                <label for="post-3" class="cd-read-more"></label>
                <span class="cd-date">2013</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history is-hidden">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content is-hidden">
                <input type="checkbox" class="read-more-state" id="post-4" />
                <h2>Talent Development Centre</h2>
                <p class="read-more-wrap">
                    When Evan made it into the 365 athletics club, which is just a step up from Tribe but with older children, we decided to investigate if there were any other sessions that Evan could do to fine tune his natural ability.
                    This is when we found out about the <a href="http://www.teambath.com/sport/youth-sport/talent-development-centre/">Talent Development Centre (TDC)</a>, which also operates out of the University of Bath.
                    <span class="read-more-target">
                        You are initially invited to an assessment day where they put you through a series of tests and activities (parents were not invited to watch).
                        If successful, you can then choose from a variety of sessions that you can then attend that focus on improving specific attributes. E.g. Speed and Agility, Strength, Power etc..
                        TDC caters for a variety of Sports so Evan gets to work alongside people from a variery of sports e.g. Swimmers, Rugby players, Footballers and of varying ages.
                        When he started to sessions at 10 years of age, he was training alongside 14 and 15 year olds. Being amongst the older children focused Evan more because there is less emphasis on play.
                    </span>
                </p>
                <label for="post-4" class="cd-read-more"></label>
                <span class="cd-date">2014</span>
            </div>
        </div>
    </div>
</section>

@section PageScripts {
    @Styles.Render("~/Content/css/timeline")
    @Scripts.Render("~/bundles/jquerycloudinary")
   
    <script type="text/javascript">
        $(function () {
            var timelineBlocks = $('.cd-timeline-block'),
        		offset = 0.8;

            // hide timeline blocks which are outside the viewport
            hideBlocks(timelineBlocks, offset);

            ed.cloudinary.dynamicImages();

            // on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function () {
                (!window.requestAnimationFrame)
                    ? setTimeout(function () { showBlocks(timelineBlocks, offset); }, 100)
                    : window.requestAnimationFrame(function () { showBlocks(timelineBlocks, offset); });
            });

            $(document).on('click', '.cd-read-more', function (e) {
                var parent = $(this).parent();
                var showMoreContent = parent.find('.read-more-state:checked');

                if (showMoreContent && showMoreContent.length > 0) {
                    var headerHeight = $(".navbar-fixed-top").outerHeight();

                    $("html, body").scrollTop(parent.offset().top - headerHeight);
                    //$("html, body").animate({

                    //    scrollTop: parent.offset().top - headerHeight

                    //}, 1000);
                }
            });

            function hideBlocks(blocks, offset) {
                blocks.each(function () {
                    ($(this).offset().top > $(window).scrollTop() + $(window).height() * offset) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                });
            }

            function showBlocks(blocks, offset) {
                blocks.each(function () {
                    ($(this).offset().top <= $(window).scrollTop() + $(window).height() * offset && $(this).find('.cd-timeline-img').hasClass('is-hidden')) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                });
            }
        });
    </script>
}