@using EvansDiary.Web.Diary.TransferObjects

@{
    ViewBag.Title = "Evan's Athletics";
}

<div class="background-image">
    <div class="layer">
    </div>
</div>
<section id="timeline">
    <div id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <h2>Nursery Mini Olympics</h2>
                <p class="read-more-wrap">
                    Evan's nursery 'Brightstart Nursery' held a mini olympics event where all the children were introduced to sporting events. Evan had already demonstrated with any activity that we would do together how competitive he was and how much he hated to lose.
                </p>
                <ul class="polaroids pure-g">
                    <li class="pure-u-1-2">
                        @{
                            var image = new AssociatedImage("2008_sprint_race_dzze6k", "Sprint Race");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285" data-height="214"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2008_medals_nl626v", "His Medals");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285" data-height="214"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                </ul>
                <span class="cd-date">2008</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content">
                <input type="checkbox" class="read-more-state" id="post-1" />
                <h2>Showing interest in athletics</h2>
                <p class="read-more-wrap">
                    Evan showed a keen interest in running from an early age. At any sporting event held from Nursery through to the Primary School ages he would put himself forward to run in the running race.
                    He is naturally a very competitive boy and we found that his Primary School in particular removed the whole competitive attitude from Sports Day and it became a 'Let's Take Part' affair.
                    <span class="read-more-target">
                        I understand that not everyone is good at or enjoys sports but then I also know that not everyone is academic as well, but you never see a school saying to those children "Oh well, let's just take part".
                        It's the one thing about modern schooling that I disagree with. You have Sport for England wondering why we aren't creating athletes capable of competing at an Elite level, it all starts at the ground roots, at the schools!
                        Understandably, Evan was not really getting the exposure to athletics and encouragement at school, however, he was attending holiday clubs at a local Sports Centre affiliated to the Secondary School in our area.
                        It was here that he was spotted by a Track and Field coach because he seemed to be very good at high jump when they did this activity.
                        Evan did not make the connection when selecting activities to do at the club that athletics actually meant running. As soon as he had learned the meaning of that word, it was always the first activity chosen if it was available on the days that he attended.
                    </span>
                </p>
                <label for="post-1" class="cd-read-more"></label>
                <span class="cd-date">2010</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <h2>First Sports Day</h2>
                <p class="read-more-wrap">
                    Evan's first sports day sees him qualify for the individual sprint race. The qualification events are held during school time in the weeks leading up to Sports Day.
                </p>
                <p class="center">
                    @{ image = new AssociatedImage("2010_sports_day_nh1cd7", "Sprint Race"); }
                    <span class="polaroid" title="@image.Caption">
                        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                             data-src="@(image.Source)"
                             data-width="350"
                             data-crop="fill" data-quality="80" alt="@image.Caption" />
                    </span>
                </p>
                <span class="cd-date">2010</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history is-hidden">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content is-hidden">
                <h2>Tribe Athletics</h2>
                <p>
                    We were given the details of an athletics club that runs at the University of Bath. This was pre 2012 Olympics, which has since inspired more young children to choose athletics so luckily the waiting list was not too long and we were able to get him in during 2011.
                    The <a href="http://www.teambath.com/tribe-schools/tribe-activities-7-14-years/" target="_blank">'Tribe'</a> athletics club was fun way to introduce an array of track and field activities to young children.
                </p>
                <span class="cd-date">2011</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history is-hidden">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content is-hidden">
                <input type="checkbox" class="read-more-state" id="post-3" />
                <h2>Team Bath 365 Athletics Club</h2>
                <p class="read-more-wrap">
                    Evan was starting to outgrow Tribe and wanted to have a go at competing. Competing is particularly hard when you are not affiliated to an athletics club, you have to compete as an independent and research all the events and activities yourself.
                    We decided to put Evan on the waiting list to join <a href="http://www.teambathac.org/join/junior/junior-9-11/" target="_blank">Team Bath 365</a>, at 8 years old he was still too young to join this club, which accepts children when they reach 9 as they would be competing in the youngest age category U11's.
                    <span class="read-more-target">
                        In the summer before his 9th birthday, we decided to take Evan along to a few open athletics meets to compete as an Independent just to get a feel for what it's like. You can get similar issues in athletics to those that actors get when they get 'Stage Fright' performing and the earlier you tackle this the better.
                    </span>
                </p>
                <label for="post-3" class="cd-read-more"></label>
                <span class="cd-date">2013</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <h2>Year 3 Sports Day</h2>
                <p class="read-more-wrap">
                    At 8 years old, Evan is proving to be a very confident sprinter. He loves all aspects of the 'Sports Day' event at school but it is only the running race at the end of the day that has any competitive element.
                    Evan always qualifies as the fastest runner in his class/ house group and as a result he only gets to race the sprint. He has shown interest in also running the relay event but the policy of his primary school is
                    that the same child cannot run both. The fastest runs the individual event and the next 4 fastest will run the relay.
                </p>
                <p class="center">
                    @{ image = new AssociatedImage("2013_sports_day_xfblzc", "Sprint Race"); }
                    <span class="polaroid" title="@image.Caption">
                        <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                             data-src="@(image.Source)"
                             data-width="350"
                             data-crop="fill" data-quality="80" alt="@image.Caption" />
                    </span>
                </p>
                <span class="cd-date">2013</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-history is-hidden">
                <img src="/Content/images/timeline/icon-history.svg" alt="History">
            </div>

            <div class="cd-timeline-content is-hidden">
                <input type="checkbox" class="read-more-state" id="post-4" />
                <h2>Talent Development Centre</h2>
                <p class="read-more-wrap">
                    When Evan made it into the 365 athletics club, which is just a step up from Tribe but with older children, we decided to investigate if there were any other sessions that Evan could do to fine tune his natural ability.
                    This is when we found out about the <a href="http://www.teambath.com/sport/youth-sport/talent-development-centre/" target="_blank">Talent Development Centre (TDC)</a>, which also operates out of the University of Bath.
                    <span class="read-more-target">
                        You are initially invited to an assessment day where they put you through a series of tests and activities (parents were not invited to watch).
                        If successful, you can then choose from a variety of sessions that you can then attend that focus on improving specific attributes. E.g. Speed and Agility, Strength, Power etc..
                        TDC caters for a variety of Sports so Evan gets to work alongside people from a variery of sports e.g. Swimmers, Rugby players, Footballers and of varying ages.
                        When he started to sessions at 10 years of age, he was training alongside 14 and 15 year olds. Being amongst the older children focused Evan more because there is less emphasis on play.
                    </span>
                </p>
                <label for="post-4" class="cd-read-more"></label>
                <span class="cd-date">2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <h2>Year 4 Sports Day</h2>
                <p class="read-more-wrap">
                    Evan was back to his best this year. The 2013 year 3 sports day event was a wash out. We had booked the day off only to be alerted at the start of the day that due to the bad weather
                    the event would be postponed. It was a little premature from the school as by the afternoon, the weather was absolutely fine. This year with Evan now 9, he was keen to get back to winning ways as the
                    event the year before ended up being held indoors and Evan had a slip and recovered to finish only 2nd. You could tell that competing for Team Bath was having an effect on Evan. At the start of the race
                    this year he remained focused, performing the kind of pre-race routine that Elite runners like Usain Bolt would go through—Evan even asked if he could wear his spikes! The children lining up next to Evan were just chatting and joking waiting for the race to start.
                    Evan had an outstanding race, finishing comfortably 1st.
                </p>
                <ul class="polaroids pure-g">
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2014_sports_day_track_yetvkd", "Sprint Race");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2014_sports_day_field_ea7glo", "Egg and Spoon");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                </ul>
                <span class="cd-date">2014</span>
            </div>
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <h2>Kidstri Triathlon</h2>
                <p class="read-more-wrap">
                    Evan loves animals, from your everyday household pets to those that live in the wild. Evan was keen to challenge his abilities and wanted to try a triathlon.
                    He thought seeing as it was his first attempt, it would be a worthy fund raising opportunity. He decided to support an elephant charity called Tusk Trust.
                    He did exceptionally well and raised over £100 for them and he also raced very well considering he'd never competed over a long distance like this before.
                </p>
                <ul class="polaroids pure-g">
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2014_kidstri_ride_mff9qh", "The ride");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2014_kidstri_run_qntigu", "The run");
                        }

                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2014_kidstri_end_brjloo", "Triathlon Completed!");
                        }

                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2014_kidstri_medal_lbikulh", "The medal");
                        }

                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                </ul>
                <span class="cd-date">2014</span>
            </div>
        </div>
    
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <h2>Year 5 Sports Day</h2>
                <p class="read-more-wrap">
                    Evan ocassionally feels the pressure from class mates and teachers to perform well when he races. I think he likes that he is fast and sports day is generally fairly
                    easy for him. I am pleased that he wins but it's also good for him to race against children of equal ability, which is why we encourage him to compete in the inter school
                    activities and the open meets that he does so under Team Bath AC.
                </p>
                <ul class="polaroids pure-g">
                    <li class="pure-u-1-2">
                        @{
                            image = new AssociatedImage("2015_sprint_skmj84", "Sprint Race");
                        }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="285"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </li>
                    <li class="pure-u-1-2">
                        @*@{
                            image = new AssociatedImage("2015_youtube_sprint_rn9kze", "Sprint Race Video");
                        }*@

                        <div class="video-container">
                            <span class="polaroid" title="Sprint Race Video">
                                <iframe type="text/html"
                                        width="350"
                                        src="http://www.youtube.com/embed/LUgBYkUAnn8"
                                        allowfullscreen=""></iframe>
                            </span>
                        </div>

                        @*<a href="https://youtu.be/LUgBYkUAnn8" title="Year 5 - Sprint Race" class="polaroid-link" target="_blank">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="350"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </a>*@
                    </li>
                </ul>
                <span class="cd-date">2015</span>
            </div>
        </div>
    
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-event">
                <img src="/Content/images/timeline/icon-event.svg" alt="Event">
            </div>

            <div class="cd-timeline-content polaroid-container">
                <input type="checkbox" class="read-more-state" id="post-4ab2" />
                <h2>Junior Aquathlon</h2>
                <p class="read-more-wrap">
                    Evan thoroughly enjoyed his triathlon a few years ago but didn't enjoy the bike stage of it. We have since discovered that you can do various combinations of these kinds of events.
                    As a result, Evan being a very good runner and swimmer decided to have a go at an aquathlon which combines his preferred events. We found an event local to us run by the <a href="http://hotchillitri.co.uk/" target="_blank">'Trowbridge Hotchilli Triathlon Club'</a>, which caters for all age groups.
                    The day of the event was a horrible day (weather-wise), the transition stage was being held in the tennis courts, so athletes would have to run from the swimming pool along the concrete in bare feet before being able to change into trainers for the run.
                    <span class="read-more-target">
                        It rained quite heavily leading up to the race, however by the time Evan emerged from his 800m swim, it was just overcast. The concrete was very slippy, which saw several people slip over!
                        Evan made it to the transition stage in one piece. The 1200m run was a real slog, it was cold and you tend to find that it's not so much of a race because of the long distance swim that gaps between the competitors build up and you are completing a time trial instead of a race.
                        The athletes all wear tags around their ankles so that you know when they started and finished and from those times you can calculate the race time.
                    </span>
                </p>
                <label for="post-4ab2" class="cd-read-more"></label>
                <!-- To honour the padding on the paragraph below the floated element we need to clear and set the overflow to auto. The div is
                     an invisible wrapper that butts up against the floated element and then the margins on the paragraph then work as expected
                     against the wrapper div. -->
                <div style="clear: both; overflow: auto;">
                    <p class="center">
                        @{ image = new AssociatedImage("2016_aquathlon_ybxjei", "The running stage"); }
                        <span class="polaroid" title="@image.Caption">
                            <img src="/Content/images/blank.jpg" class="dynamic_image pure-img-responsive"
                                 data-src="@(image.Source)"
                                 data-width="350"
                                 data-crop="fill" data-quality="80" alt="@image.Caption" />
                        </span>
                    </p>
                </div>
                <span class="cd-date">2016</span>
            </div>
        </div>
    </div>
</section>

@section PageScripts {
    @Styles.Render("~/Content/css/timeline")
    @Scripts.Render("~/bundles/jquerycloudinary")
   
    <script type="text/javascript">
        $(function () {
            var timelineBlocks = $('.cd-timeline-block'),
        		offset = 0.8;

            // hide timeline blocks which are outside the viewport
            hideBlocks(timelineBlocks, offset);

            ed.cloudinary.dynamicImages();

            // on scolling, show/animate timeline blocks when enter the viewport
            $(window).on('scroll', function () {
                (!window.requestAnimationFrame)
                    ? setTimeout(function () { showBlocks(timelineBlocks, offset); }, 100)
                    : window.requestAnimationFrame(function () { showBlocks(timelineBlocks, offset); });
            });

            $(document).on('click', '.cd-read-more', function (e) {
                var parent = $(this).parent();
                var showMoreContent = parent.find('.read-more-state:checked');

                if (showMoreContent && showMoreContent.length > 0) {
                    var headerHeight = $(".navbar-fixed-top").outerHeight();

                    $("html, body").scrollTop(parent.offset().top - headerHeight);
                    //$("html, body").animate({

                    //    scrollTop: parent.offset().top - headerHeight

                    //}, 1000);
                }
            });

            function hideBlocks(blocks, offset) {
                blocks.each(function () {
                    ($(this).offset().top > $(window).scrollTop() + $(window).height() * offset) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
                });
            }

            function showBlocks(blocks, offset) {
                blocks.each(function () {
                    ($(this).offset().top <= $(window).scrollTop() + $(window).height() * offset && $(this).find('.cd-timeline-img').hasClass('is-hidden')) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
                });
            }
        });
    </script>
}